* {
	font-family: arial;
}

body.A4 {
	width: 210mm;
}

@media print {
	div.item {
		page-break-inside: avoid;
	}
}

.column {
	float: left;
}

/* rows */

.row::after {
	content: "";
	display: table;
	clear: both;
}

/* header */

header {
	vertical-align: text-bottom;
}

header .column {
	width: 50%;
}

header .column.left {
	text-align: left;
}

header .column.right {
	text-align: right;
}

#name {
	font-size: x-large;
	font-weight: bold;
}

hr {
	border: 0;
	height: 2px;
	background: #333;
	/*background-image: linear-gradient(to right, #ccc, #333, #ccc);*/
}

/* sections */

section .column.title {
	width: 40%;
	font-size: large;
	text-transform: lowercase;
	font-size: large;
	font-weight: bold;
}

section .column.content {
	width: 60%;
}

.subsection {
	font-style: italic;
	margin: 0 0 5px 0;
}

/* items */

div.item .name {
	font-weight: bold;
}

div.item {
	margin: 0 0 10px 0;
}

/* dates */

.range {
	font-size: small;
}

.date {
	font-size: small;
}

/* publications */

.bib {
	display: none;
}

.journal {
	font-style: italic;
}

.volume {
	font-weight: bold;
}

/* other */

.url {
	font-family: monospace;
}

.description {
	font-size: 0.9em;
}
