<!DOCTYPE html>
<html>

<!-- HEAD -->

<head>
	<!-- stylesheet -->
  <link rel="stylesheet" href="src/template.css">

  <!-- MathJax -->
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
	});
	</script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

  <!-- jQuery -->
  <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>

  <!-- Handlebars -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.min.js"></script>
</head>

<!-- BODY -->

<body class="A4">

<header class="row" id="header"></header>

<hr />

<section class="row" id="education"></section>
<section class="row" id="employment"></section>
<section class="row" id="publications"></section>
<section class="row" id="talks"></section>
<section class="row" id="teaching"></section>
<section class="row" id="awards"></section>
<section class="row" id="languages"></section>

<!-- TEMPLATES -->

<!-- header -->

<script id="header-template" type="text/template">

{{#personal}}
<div class="column left">
	<div id="name">{{full_name name "{F} {L}"}}</div>
	<div id="email" class="url">{{email}}</div>
	<div id="web">
	{{#each web}}
		<div class="url">{{url}}</div>
	{{/each}}
	</div>
</div>
<div class="column right">
	<div id="address">
		<div style="height:5px">&nbsp;</div>
		{{#each address}}
			<div class="address-line">{{this}}</div>
		{{/each}}
		{{#phone}}
		<div id="phone">
			<span id="country-code">+{{country}}</span>
			<span id="area-code">{{area}}</span>
			<span id="phone-number">{{number}}</span>
		</div>
		{{/phone}}
	</div>
</div>
{{/personal}}

</script>

<!-- education -->

<script id="education-template" type="text/template">

<div class="column title">Education</div>

<div class="column content">
	{{#each education}}
	<div class="item">
		<span class="name">{{degree}}</span> /
		<span>{{institution}}</span>
		(<span>{{capitalize subject}}</span>)
		{{range start end}}
	</div>
	{{/each}}
</div>

</script>

<!-- employment -->

<script id="employment-template" type="text/template">

<div class="column title">Experience</div>

<div class="column content">
	{{#each employment}}
	<div class="item">
		<span class="name">Postdoctoral fellow</span> /
		<span class="organization">IST Austria</span>
		{{range start end}}
	</div>
	{{/each}}
</div>

</script>

<!-- publications -->

<script id="publications-template" type="text/template">

<div class="column title">Publications</div>

<div class="column content">
	{{#each publications}}
	<div class="item">
		<span class="name">{{title}}</span>
		(coauthors:
		<span>
		{{#each coauthors}}
			<span>
			{{#if @last}}
				{{full_name this}})
			{{else}}
				{{full_name this}},
			{{/if}}
			</span>
		</span>
		{{/each}}
		</span>
		<div class="bib">
			<span class="journal">{{journal}}</span>
			<span class="volume">{{volume}}</span>:<span>{{page_range pages}}</span>
		</div>
		<div class="date">{{print_date date}}</div>
	</div>
	{{/each}}
</div>

</script>

<!-- talks -->

<script id="talks-template" type="text/template">

<div class="column title">Talks</div>

<div class="column content">
	{{#each talks}}
	<div class="item">
		<span class="name">{{location.name}}</span> /
		<spa>{{event.name}}</span>
		<div class="date">{{print_date date}}</div>
	</div>
	{{/each}}
</div>

</script>

<!-- teaching -->

<script id="teaching-template" type="text/template">

<div class="column title">Teaching</div>

<div class="column content">
	{{#each teaching}}
		<div class="item">
			<span class="name">{{course}}</span> /
			<span>{{role}}</span>
			<div class="date">{{range start end}}</div>
		</div>
	{{/each}}
</div>

</script>

<!-- awards -->

<script id="awards-template" type="text/template">

<div class="column title">Honours</div>

<div class="column content">
	{{#each awards}}
	<div class="item">
		<span class="name">{{name}}</span> /
		<span>{{sponsor}}</span>
		<div class="date">{{print_date date "{Y}"}}</div>
	</div>
	{{/each}}
</div>

</script>

<!-- professional development -->

<script id="professional-template" type="text/template">

<div class="column title">Professional Development</div>

{{#professional}}
<div class="column content">
	<div class="subsection">Coursera certifications</div>
	{{#each coursera}}
	<div class="item">
		<span class="name">{{course}}</span> /
		<span>{{organization}}</span>
		<div class="date">{{print_date date "{Y}"}}</div>
	</div>
	{{/each}}
</div>
{{/professional}}

</script>

<!-- technologies -->

<script id="tech-template" type="text/template">

<div class="column title">Technologies</div>

<div class="column content">
	{{#each technologies}}
	<div class="item">
		<span class="name">{{capitalize @key}}</span>
		<div>
		{{#each this}}
			{{#if @last}}
				{{this}}
			{{else}}
				{{{this}}},
			{{/if}}
		{{/each}}
		</div>
	</div>
	{{/each}}
</div>

</script>

<!-- repositories -->

<script id="repos-template" type="text/template">

<div class="column title">Public repositories</div>

<div class="column content">
	{{#each repos}}
	<div class="item">
		<span class="name">{{name}}</span>
		<div class="description">{{description}}</div>
		<div class="url">{{url}}</div>
	</div>
	{{/each}}
</div>

</script>

<!-- languages -->

<script id="languages-template" type="text/template">

<div class="column title">Spoken Languages</div>

<div class="column content">
	{{#each languages}}
	<div class="item">
		<span class="name">{{capitalize name}}</span> /
		<span>{{capitalize proficiency}}</span>
	</div>
	{{/each}}
</div>

</script>

<!-- citizenship -->

<script id="citizenship-template" type="text/template">

<div class="column title">Citizenship</div>

<div class="column content">
	<div class="item">
	{{#each citizenship}}
		<span class="name">
		{{#if @last}}
			{{this}}
		{{else}}
			{{this}},
		{{/if}}
		</span>
	{{/each}}
	</div>
</div>

</script>

<!-- HELPERS -->

<script src="src/helpers.js"></script>

<!-- MAIN SCRIPT -->

<script>
function fill_html (id, out) {
 $.getJSON('template.json', function(data) {
          var template = $(id).html()
          var compiled = Handlebars.compile(template)
          var output = compiled(data)
          $(out).html(output)
        })
  }

fill_html('#header-template', '#header');
fill_html('#education-template', '#education');
fill_html('#employment-template', '#employment');
fill_html('#publications-template', '#publications');
fill_html('#talks-template', '#talks');
fill_html('#teaching-template', '#teaching');
fill_html('#awards-template', '#awards');
fill_html('#languages-template', '#languages');
</script>
</body>

</html>
